@page
@model ScriptureJournal.Pages.Journal.IndexModel

@{
    ViewData["Title"] = "Scripture Journal";
}

<h1>Scripture Journal</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<form>
    <p class="mt-4">
        <label class="fw-bold">Book Name: 
            <select asp-for="BookName" asp-items="Model.BooksList">
                <option value="">All</option>
            </select>
        </label>

        <label class="fw-bold ms-2">Search Text
            <input type="text" asp-for="SearchString" />
        </label>
    
        <label class="ms-2 fw-bold">Sort:
            <select class="ms-2" asp-for="SortType" asp-items="Model.SortTypeList">
            </select>
        </label>

        <input type="submit" class="btn btn-primary ms-4" value="Filter/Sort" />

    </p>
</form>

<table class="table mt-4">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JournalEntry[0].Book)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JournalEntry[0].Chapter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JournalEntry[0].DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JournalEntry[0].Text)
            </th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.JournalEntry) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Book.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Chapter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem =>  item.Text)
            </td>
            <td>
                    <p><a asp-page="./Edit" asp-route-id="@item.Id">Edit</a></p> 
                <p><a asp-page="./Details" asp-route-id="@item.Id">Details</a> </p>
                <p><a asp-page="./Delete" asp-route-id="@item.Id">Delete</a></p>
            </td>
        </tr>
}
    </tbody>
</table>
